.containnerHome {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #740c28;
    z-index: 0;
    // background: linear-gradient(0deg, #f8b195, #ff7e8b, #c06c84, #6c5b7b, #355c7d);
}
